@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
html {
  background-color: #b8d7ea;
  font-family: 'Source Code Pro', monospace;
}
.title {
  text-align: center;
  font-size: 2.4vw;
}
form {
  max-width: 700px;
  margin: auto;
  background-color: #ffffff91;
  padding: 10px;
  padding-top: 25px;
}
form > * {
  width: 85%;
  display: block;
  padding: 8px;
  margin:auto;
}
.gopher {
  position: absolute;
  top: 350px;
  max-width: 300px;
  z-index: -20;
}
