/* code by Sofia Silva */
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
body {
  margin:0;
  background-image: url("network-side.svg");
  background-color: #b8d7ea;
  background-size: 20%;
  background-repeat: no-repeat;
  background-position: 0% 97%;
  font-family: 'Source Code Pro', monospace;
  color: #394655;
}
.title {
  text-align: center;
  font-size: calc(16px + 1.5vw);
  padding: 35px;
  padding-top: 49px;
  margin: 0;
}
.myForm {
  max-width: 700px;
  margin: auto;
  background-color: #e0edf6;
  padding: 40px 10px;
  color: #394655;
  font-size: calc(15px + 0.6vw);
  box-shadow: 0 0 19px -5px rgba(0,0,0,0.75);
}
.myForm > * {
  width: 85%;
  display: block;
  padding: 10px;
  margin:auto;
  outline: none;
}

input:not(#submit) {
  border: none;
  padding: 15px;
  background: transparent;
  border-bottom: 2px solid #b1b7bd;
  font-size: 17px;
  font-family: 'Source Code Pro', monospace;
  }

  input:focus:not(#submit) {
    border-bottom: 2px solid  #394655 !important;
  }
  select {
    font-size: calc(13px + 0.5vw);
    font-family: 'Source Code Pro', monospace;
    color: #394655;
  }
  span {
    font-size: calc(13px + 0.5vw);
    color: #7caed1;
    vertical-align: super
  }
  #submit {
    background-color: #b8d7ea;
    cursor:pointer;
    border: none;
    padding: 18px;
    width: 90%;
    font-size: calc(17px + 0.5vw);
    font-weight: bold;
    color: #394655;
    font-family: 'Source Code Pro', monospace;
    transition: 0.3s;
  }
  #submit:hover  {
    background-color: #8cc8ef;
  }

  .slackLogo {
    position: absolute;
    top: 113px;
    right: 3%;
    max-width: 20%;
    z-index: -20;
  }

.afterSubmit {
  display: none;
  font-weight: bold;
  font-size: calc(16px + 1.5vw);
  text-align: center;
  margin: 20%;
  margin-top: 5%;
  padding: 10%;
  background-color: #e0edf6;
  box-shadow: 0 0 19px -5px rgba(0,0,0,0.75);
}

@media screen and (max-width: 1000px) {
  .slackLogo {
    display: none;
  }
}
@media screen and (max-width: 850px) {
      .myForm {
         max-width: 100%;
         box-shadow: none;
       }
  }
@media screen and (max-width: 700px) {
  body {
    background-size: 40%;
    background-attachment: fixed;
    background-position: 0 98%;
  }
  .afterSubmit{
    margin: 20px;
    margin-top: 20%;
  }
}
